/* Focus on using class ! */
/* Sematic, well-structure */
/* CSS works top-down (waterfall) */

html {
	font-size: 22px;
}

body {

}

main {
	font-family: monospace;
}

/* These elements (in "form" section) do not inherit font
So, we need to specify this */
button, input, textarea, select {
	font: inherit;
}

h1, h2 {
	color: blue;
}

p {
	color: purple;
}

.highlight {
	text-transform: uppercase;
	background-color: gold;
}

/* define a class */
.gray {
	color: gray;
}

/* define an id
we can do this in js, thus try to avoid this in css */
/* #second {
	font-size: italic;
} */

/* define css of an id */
#second {
	font-style: italic;
}