body {
	font-family: monospace;
	font-size: 1.5rem;
}

p {
	background-color: lightgray;
	/* margin: 100px 50px; */
}

.opposite {
	display: inline-block;
	background-color: #333;
	color: whitesmoke;
	padding: 4rem;
}