/* tyopgraphy is the way that text is
arranged and presented */

body {
	padding: 10%;
	font-size: 1rem;

	/* fonts.google.com */
	font-family: monospace;
}

/* input and button not inherit font size by default */
input, button {
	font: inherit
}


/* SOOOOOO helpful */
p {
	/* helpful for decorating html
	text-decoration: line-through;
	text-decoration: underline; */

	/* text-transform: capitalize;
	text-align: left;
	text-align: justify; */

	/* text-indent: 2em; */
	line-height: 1.5;
	font-weight: lighter;

	/* stronger italic
	font-style: oblique; */
	font-style: italic;
}

.cross {
	text-decoration: line-through;
	color: red;
}

span {
	color: blue
}